/**
*
* Navigation Bar Styling
*
*/

.nav-bar {
  height: 120px;
  width: 100%;
  font-size: 35px;
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweeter-logo {
  font-size: 30px;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
  padding-left: 1.5em;
}

.write-new-tweet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 1.5em;
}

.new-tweet-link {
  font-size: 20px;
  color: #FFFFFF;
}

a > span {
  font-weight: 600;
}

.new-tweet-chevron {
  font-size: 20px;
  color: red;
  animation: updown 2.5s ease infinite;
  transition: all 0.3s ease;
}

.new-tweet-chevron:hover {
  color:rgb(137, 0, 0);
}

@keyframes updown {
  0% {
    transform: translateY(-15%);
  }

  50% {
    transform: translateY(15%);
  }

  100% {
    transform: translateY(-15%);
  }
}

/*
* Media Queries for responsive layout
*/

@media only screen and (min-width: 800px) {

  .nav-bar {
    background-color: #4056A1;
  }

}